@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.titleBlock {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto 80px auto;

  .title {
    text-align: center;

    h2{
      @include text(80px, #EEEEEEFF, uppercase);
      line-height: 1;
      text-align: center;
      font-weight: 800;
      margin: 0;

      @media screen and (max-width: 1025px) {
        @include text(60px, #EEEEEEFF, uppercase);
      }
      @media screen and (max-width: 767px) {
        @include text(50px, #EEEEEEFF, uppercase);
      }
    }

    h3{
      @include text(16px, #222, uppercase);
      line-height: 1;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1em;
      margin: 0;

      @media screen and (max-width: 1025px) {
        @include text(14px, #222, uppercase);
      }
    }
  }
}

