@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.aboutUsBlock {
  background-image: url("../accets/images/bg01.svg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 0;

  .mainInfo{
    padding-bottom: 80px;
    h2{
      @include text(16px, black, uppercase);
      line-height: 1;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1em;
    }

    p{
      @include text(36px, #444444, none);
      text-align: center;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: .05em;
      max-width: 920px;
      margin: 0 auto;

      @media screen and (max-width: 900px) {
        @include text(26px, #444444, none);
      }
    }
  }


  .advantagesContainer {
    display: flex;
    justify-content: center;
    width: 95%;

    .advantages {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1050px) {
        justify-content: center;
      }

      @media screen and (max-width: 870px) {
        flex-direction: column;
       align-items: center;
      }
    }
  }
}

