$textColor: #111;
$titleTextColor: #fff;
$titleDescriptionTextColor: #5e5e5e;
$primaryColor: #000000;
$secondPrimaryColor: #85defb;
$bgColor: #f4f8f9;
$bgSecondColor: #fff;

$fontFamily: Source Sans Pro, sans-serif;
